.head {
  background-color: rgb(60, 122, 60);
  color: aliceblue;
  /* display: flex;
  justify-content: center; */
  padding: 10px;
}
.button {
  background-color: rgb(60, 122, 60);
  color: white;

  padding: 7px;
}
td {
  border-bottom: 1px solid #ccc; /* Adjust color as needed */
}
